    body{
            font-family: Arial, sans-serif;
            font-size: 12px;
            width: 13cm;
            height: 17cm;
            margin: 0 left;
            padding: 10px;
            border: 1px solid #000;
        }
    .mycontainer{
        display: flex;
        margin:5px;
    }
        h1 {
            text-align: center;
            margin: 10px 0;
        }
       h2 {
            text-align: left;
            margin: 10px 0;
        }
     
        table {
           font-size: 16px;
           font-weight: bold;
            text-align: center;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
          
        }
        table, th, td {
            border: 1px solid #000;
        }
      .u {
  text-decoration: underline;
        font-weight: bold;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
        .editable {
            width: 100%;
          font-weight: bold;
            border: none;
            text-align:center;
            font-size: 16px;
            outline: none;
        }
        .editable:focus {
            background-color: #f0f0f0;
        }
        .section-title {
            text-align: center;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .indications {
            display: flex;
            justify-content: space-between;
        }
        .indications div {
            width: 48%;
        }
        .indications table {
            width: 100%;
        }
        button {
            display: block;
            margin: 0 auto;
            padding: 10px 20px;
            font-size: 14px;
            cursor: pointer;
        }
      .Nome {
            width: 48%;
             border: none;
        font-size: 15px;
            cursor: pointer;
         padding: 5px;
      }
       .date {
            text-align: left;
            border: 0;
         font-size: 1rem;
          font-weight: bold;
        }

        @media print {
            button {
                display: none;
            }
            .editable {
                border: none;
                background-color: transparent;
            }
        }
